<h1>Products</h1>

<div id="product_list">
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
</div>

<%= stylesheet_link_tag "application.css" %>